## BOILERPLATE IGNORE FILES

# Dependencies
node_modules

# Production and other folders
/build
/dist

### VisualStudioCode ###
.vscode/*

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Numerous always-ignore extensions
*.diff
*.env
*.err
*.log
*.sass-cache
*.tmp

# Personal project files
upload.html
JS_NOTES.md
NOTES.md
/js/proper_bkup.js
/js/alpha_bkup.js
/js/upload.js
/css/upload.css
/images
writer-assist.html
